@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

:root {
    --bg-dark: #070707;
    --bg-primary: #12130d;
    --text-primary: #ffffff;
    --text-dark: #09161d;
    --text-secondary: #bf9444;
    --primary-font: 'Jost', sans-serif;
    --secondary-font: 'Cormorant Garamond', serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--primary-font);
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

a {
    color: var(--text-secondary);
    text-decoration: none;
}

.topbar-link1 {
    grid-area: topbarLink1;
}

.topbar-link2 {
    grid-area: topbarLink2;
}

.topbar-link3 {
    grid-area: topbarLink3;
}

.topbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
        "topbarLink1 topbarLink2 topbarLink3";
    min-height: 50px;
    align-items: center;
}

.topbar a {
    color: var(--text-primary);
}

.topbar a:hover {
    color: var(--text-secondary);
}

.topbar a i {
    padding-right: 0.25rem;
    color: var(--text-secondary);
}

.hamburger-icon {
    display: none;
}

.hr {
    height: 0.08px;
    background-color: var(--text-secondary);
}

.header-menu {
    display: flex;
}

nav ul {
    /* display: flex; */
    list-style: none;
}

nav ul li {
    padding: .5rem 1rem;
}

nav ul li a {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-primary);
}

nav ul li a:hover {
    color: var(--text-secondary);
}



.submenu {
    display: none;
}

.home-link:hover {
    color: var(--text-secondary);
}

.home-link a {
    position: relative;
}

.home-link a:hover .submenu {
    display: block;
    position: absolute;
    left: -35px;
    width: 128px;
    background-color: #0b0f14;
    border: 2px solid #0b0f14;
    border-radius: 8px;
}

.custom-btn {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-inline: 1rem;
    text-transform: capitalize;
}

/* Hero */
main {
    background-image: url('./assets/banner-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-left-img {
    background-image: url('./assets/union-left.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* padding: 50px; */
    position: relative;
}

.banner-content {
    padding: 10rem 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    min-height: 100vh;
}

.banner-content h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 700;
    max-width: 75%;
    margin: auto;
}

.banner-content p {
    font-family: var(--primary-font);
    font-size: 1.125rem;
    line-height: 1.68rem;
    font-weight: 400;
}

.custom-btn-outline {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-inline: 1rem;
    text-transform: capitalize;
}

.subtitle-heading {
    color: var(--text-secondary);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.55rem;
    text-transform: capitalize;
}

.title-box {
    padding: 5rem 0 3rem 0;
}

.title-box h2 {
    color: var(--text-dark);
    color: var(--text-dark);
    font-size: 3.75rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.custom-rounded-border {
    border-radius: 0.625rem 0;
}

.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grid -Box */
.list-box {
    grid-area: list-box;
}

.author-box {
    grid-area: author-box;
}

.bbq-img-box {
    grid-area: bbq-img-box;
}

.mission-box {
    grid-area: mission-box;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "mission-box mission-box mission-box mission-box"
        "list-box list-box list-box bbq-img-box"
        "author-box author-box author-box bbq-img-box";
}

.mission-box {
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px
}

.mission-icon-box {
    max-width: 190px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px 0;
    padding: 20px 30px;
    position: relative;
    margin-right: 24px;
}

.mission-icon-box h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
    font-family: var(--secondary-font);
    margin-bottom: 0;
    padding-top: 10px;
}

.mission-box p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-dark);
    font-family: var(--primary-font);
    margin-bottom: 0;
}

.list-box {
    display: flex;
    align-items: center;
    gap: 70px
}

.list-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-box ul li {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-dark);
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

.list-box ul li i {
    color: var(--text-secondary);
}

.author-quote {
    border: 1px solid #eee;
    max-width: 400px;
    padding: 20px 45px;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
}

.author-quote p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-dark);
    line-height: 1.4;
}

/* Menu Section */

.card-1 {
    grid-area: card1;
}

.card-2 {
    grid-area: card2;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas: "card1 card2";
}

#menu-items {
    background-color: var(--bg-dark);
}

.menu-header h2 {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--text-primary);
    font-family: var(--secondary-font);
}

.menu-list ul {
    list-style: none;
    padding: 0 50px;
    margin: 0;
}

.menu-list ul li {
    display: flex;
    margin-bottom: 15px;
}

.serial-number {
    margin-right: 10px;
}

.serial-number span {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-primary);
    font-family: var(--primary-font);
}

.menu-title {
    margin-bottom: 5px;
}

.menu-title h4 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 29px;
    font-family: var(--secondary-font);
}

.price {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-secondary);
    font-family: var(--primary-font);
}

.menu-content p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    line-height: 1.438rem;
}

.menu-card {
    background-color: var(--bg-primary);
    padding: 2rem 0.5rem;
    border-radius: 0.526rem;
}

/* popular-items */

#popular-items {
    background-image: url('./assets/populer-bg.f5fbe7ea.png');
}

.section-title h2 {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.popular-items-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas: "item1 item2 item3";
}


.img-box {
    position: relative;
}

.img-box span {
    position: absolute;
    top: 0.5rem;
    right: 5rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 50%;
    color: var(--text-secondary);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 700;
}

.item-content {
    padding: 9rem 2rem 2.5rem;
    border: 1px solid hsla(0, 0%, 93%, .3);
    border-radius: 25px 0;
    margin-top: -105px;
    background: rgba(0, 0, 0, .3);
}

@media screen and (max-width: 1024px) {
    main {
        background-image: url(./assets/banner-bg.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .popular-items-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        grid-template-areas:
            "item1 item2"
            "item3 .";
    }

    .about-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .mission-box {
        margin-top: 1rem;
    }

    .grid-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "mission-box mission-box mission-box"
            "list-box list-box bbq-img-box"
            "author-box author-box bbq-img-box";
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        grid-template-areas: "card1 card2";
    }
}

/* ? Tablet  */
@media screen and (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }

    .topbar {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .header-menu {
        display: none;
        position: absolute;
        right: 0rem;
        top: 0rem;
    }

    .grid-box {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            ". mission-box mission-box ."
            ". list-box list-box ."
            ". bbq-img-box bbq-img-box ."
            ". author-box author-box .";
    }


}

@media screen and (max-width: 580px) {
    .topbar {
        text-align: center;
        padding: 0.5rem 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "topbarLink1"
            "topbarLink2"
            "topbarLink3";
    }

    .banner {
        padding: 0;
        min-height: 50vh;
    }

    .banner-content h1 {
        font-size: 3rem;
    }

    .grid-box {
        grid-template-columns: 1fr;
        grid-template-areas:
            "mission-box"
            "list-box"
            "bbq-img-box"
            "author-box ";
    }

    .menu-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card2";
    }

    .popular-items-boxes {
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3";
    }

}